<div class="well container">
<h2 class="text-danger"><%= @post.title%></h2>
<p><%= @post.body%></p>
<hr> 
<%=link_to "Edit" ,edit_post_path(@post) ,:class=>'btn btn-dark'%>
<%=link_to "Delete" ,post_path(@post), 
                                                method: :delete, 
                                                :class=>'btn btn-danger' %>
</div>
